.carousel {
    margin-bottom: 0px;
}

.carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 120px;
    margin-top: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
    height: 200px;
}
.carousel img {
    min-width: 100%;
    height: 200px;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 700px;
    padding: 0 20px;
    margin-top: 35px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
    margin-top: 10px;
}

.carousel-control.left {
    left: -35px;
}

.carousel-control.right {
    right: -35px;
}



@media (max-width: 979px) {

.carousel .item {
    height: 250px;
}
.carousel img {
    width: auto;
    height: 200px;
}
}


@media (max-width: 767px) {

.carousel {
    margin-left: -20px;
    margin-right: -20px;
}
.carousel .container {
    top: 0px;
}
.carousel .item {
    height: 250px;
}
.carousel img {
    height: 200px;
}
.carousel-caption {
    width: 90%;
    margin: 0 auto;
}
.carousel-caption h1 {
    font-size: 30px;
}
.carousel-caption .lead,
.carousel-caption .btn {
    font-size: 18px;
}

}