.hero-unit {
    background-color: #333333;
}

.hero-unit.main {
    background-color:#EEE;
}

hr {
    margin: 40px 0;
}

.nav-header {
    font-size: 13px;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
}

.hero-unit.main h1 {
    float: right;
    padding: 7px;
}

.maurice-piano {
    float: right;
    padding: 5px;
}

.maurice-red {
    float: left;
    padding: 5px 5px 30px 5px;
}


html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



p.first-p {
    margin-top: 90px;
}
#info {
    display: none;
}

#dances {
    text-align: center;
}

#dances h3 {
    line-height: 20px;
}

#dances a.btn {
    font-size: 25px;
    margin-right: 65px;
}

#dances a.btn.end {
    margin-right: 0px;
}

@media (max-width: 767px) {
   #dances a.btn.end {
        margin-right: 65px;
    }
    
    #dances a.btn {
        margin-bottom: 10px;
    }
    
    #dances {
        margin-left: 59px;
    }
}

.box {
    height: 40px;
    width: 150px;
    background-color: #FF8701;
    margin: 0px 0px 10px 10px;
    float: left;
    border-radius: 6px;
}

.box:hover {
    background-color: #068ecd;
    color: #FFFFFF;
}
